$font-size-none = 0
$font-size-small = 8px
$font-size-small-l = 9px
$font-size-small-ll = 10px
$font-size-small-x = 12px
$font-size-midium = 14px
$font-size-large = 16px
$font-size-large-x = 24px

$color-blue = rgb(0,160,220)
$color-blue-zero = rgba(0,160,220,0)
$color-white = #ffffff
$color-white-d = rgba(255,255,255,0.2)
$color-white-l = rgba(255,255,255,0.4)
$color-yellow = rgb(255,153,0)
$color-red = rgb(240,20,20)
$color-black = rgba(0,0,0,0.2)
$color-black-d = rgba(0,0,0,0.4)
$color-theme = rgb(147,153,159)
$color-theme-d = rgb(7,17,27)
$color-theme-l = rgb(77,85,93)
$color-border = rgba(7,17,27,.1)
$color-border-d = rgba(255,255,255,0.1)
$color-background-s = rgba(7,17,27,0)
$color-background = rgba(7,17,27,0.2)
$color-background-d = rgba(7,17,27,0.5)
$color-background-l = rgba(7,17,27,0.8)
$color-background-a = rgba(0,160,220,0.2)
$color-background-b = rgba(77,85,93,0.2)